<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

  <application
      android:allowBackup="true"
      android:fullBackupContent="@xml/backup"
      android:fullBackupOnly="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/appName"
      android:isGame="true"
      android:theme="@style/AppTheme"
      android:hardwareAccelerated="true">
    
    <activity
        android:name="org.renpy.android.LauncherActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    
    <activity
        android:name="org.renpy.android.SetupActivity"
        android:exported="false" />

    <activity
        android:name="org.renpy.android.DiscordLoginActivity"
        android:exported="false" />

    <activity
        android:name="org.renpy.android.DiscordRpcActivity"
        android:exported="false"
        android:theme="@style/Theme.Material3.Light.Dialog" />
    
    <activity
      android:name="org.renpy.android.FileExplorerActivity"
      android:exported="false"
      android:theme="@style/Theme.Material3.Light.Dialog"/>

    <activity
      android:name="org.renpy.android.FileViewerActivity"
      android:exported="false"
      android:theme="@style/Theme.Material3.Light.Dialog"/>

    <activity
      android:name="org.renpy.android.PythonSDLActivity"
      android:exported="true"
      android:process=":renpy"
      android:alwaysRetainTaskState="true"
      android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
      android:launchMode="singleTop"
      android:supportsPictureInPicture="true" />



    <activity android:name="org.renpy.android.SettingsActivity" android:exported="false" android:theme="@style/Theme.Material3.Light.Dialog"/>
    <activity android:name="org.renpy.android.DownloadCenterActivity" android:exported="false" android:theme="@style/Theme.Material3.Light.Dialog"/>
    <activity android:name="org.renpy.android.ExtraContentActivity" android:exported="false" android:theme="@style/Theme.Material3.Light.Dialog"/>
    <activity android:name="org.renpy.android.SpritepackInstallerActivity" android:exported="false" android:theme="@style/Theme.Material3.Light.Dialog"/>
    <activity android:name="org.renpy.android.AppInfoActivity" android:exported="false" android:theme="@style/Theme.Material3.Light.Dialog"/>
    <activity android:name="org.renpy.android.BackupsActivity" android:exported="false" android:theme="@style/Theme.Material3.Light.Dialog"/>
    <activity android:name="org.renpy.android.WallpapersActivity" android:exported="false" android:theme="@style/Theme.Material3.Light.Dialog"/>
    <activity
        android:name="org.renpy.android.WallpaperCropActivity"
        android:exported="false"
        android:screenOrientation="landscape"
        android:theme="@style/Theme.Material3.Light.Dialog" />
    <activity
        android:name="org.renpy.android.FullscreenCropImageActivity"
        android:exported="false"
        android:screenOrientation="landscape"
        android:theme="@style/CropImageActivityTheme" />

    <service
        android:name="org.renpy.android.MyFirebaseMessagingService"
        android:exported="true">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
    </service>

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="updates_channel" />

  </application>

  <uses-feature android:glEsVersion="0x00030000" android:required="true"/>

  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  

  
  
  <uses-permission android:name="android.permission.VIBRATE" />
  
  
  
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  
  
  
  <uses-permission android:name="android.permission.INTERNET" />
  
  


</manifest>
